@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer components {
  .requireMark {
    @apply after:content-['*'] after:text-red-500 after:ml-1;
  }
}

html,
body {
  font-family: 'Noto Sans JP', sans-serif;
  background-color: #f1efef;
  height: 100vh;
}
